@import 'smart-grid';
@include reset();
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:400,500,700&subset=cyrillic-ext');
$primary-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Roboto', sans-serif;
$accent-color: rgba(255, 126, 0, 0.8);
$primary-color: #4a4a4a;
$grey-color: #CBCBCB;
$secondary-color: #2b76ac;
$white-color: #ffffff;
$black-color: #000000;
$border: none;
* {
	margin: 0;
	padding: 0;
}
body {
	@include col();
	justify-content: center;	
}

.nav {
	border: $border;
	background: $white-color;
	@include row-flex;
	@include md(justify-content, center)
	justify-content: center;
	@include wrapper();
	max-width: 1600px;
	
	margin: 0 auto;
	& .logo {
		order: 1;
		border: $border;
		@include col();
		@include size(3);
		@include size-lg(5);
		@include size-md(5);
		@include size-xs(12);
		text-align: center;
		height: 100px;
		padding-top: 25px;
		margin: auto auto;
	}
	& .menu {
		border: $border;
		order: 3;
		@include col();
		@include size(5);
		@include size-lg(12);
		@include size-md(12);
		@include size-xs(12);
		@include lg(order, 7);
		@include col-padding();
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: flex-end;
		padding-top: 10px;
		@include lg(justify-content, center);


		& .nav-link {
			margin-right: 20px;
			display: inline-block;
			border: $border;
			font-family: $primary-font;
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			color: $primary-color;
			padding-bottom: 20px;
			position: relative;
			@include md(font-size, 14px);
			&:hover:after {
				z-index: 1;
				display: block;
				content: " ";
				top: 30px;
				width: 100%;
				height: 10px;
				position: absolute;
				background: rgba(43,118,172, .5);
				border-radius: 10px;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	& .contacts {
		order: 5;
		border: $border;
		@include col();
		@include size(4);
		@include size-lg(7);
		@include size-md(7);
		@include size-xs(12);
	
		height: 100%;
		@include row-flex;
		& .contacts__container {
	
			@include col();
			@include size(6);
			display: inline-block;
			padding-top: 10px;
			border: $border;
			& span {
				display: block;
				text-align: right;
				color: $accent-color;
				font-family: $primary-font;
				font-size: 18px;
				@include md(font-size, 16px);
				border: $border;
			}
			& .contacts__mail {
				border: $border;
				display: block;
				text-align: right;
				font-family: $primary-font;
				font-size: 18px;
				@include md(font-size, 16px);
				text-decoration: none;
				line-height: 24px;
				color: $primary-color;
				&:hover {
					color: $accent-color;
				}
			}
		}
		& .adres__container {
			@include col();
			@include size(6);
			& .contacts__adres {
			
				border: $border;
				display: inline-block;
				font-size: 24px;
				@include lg(font-size, 24px);
				@include md(font-size, 20px);
				@include xs(font-size, 16px);
				font-family: $primary-font;
				font-weight: 700;
				color: $primary-color;
				margin-top: 20px;
				margin-bottom: 10px;

			}	
		}
	}
}


//// SLIDER ///////// SLIDER ///////// SLIDER /////
//// SLIDER ///////// SLIDER ///////// SLIDER /////
//// SLIDER ///////// SLIDER ///////// SLIDER /////
.slider {
	@include row-flex;
	
	border: $border;
	z-index: 3;
	& .slider-container {
		z-index: 10;
		display: block;
		margin: 0 auto;
		border: $border;
		width: 100%;
		min-height: 452px;
		background: url('../img/back.jpg') no-repeat center center;
		
		& .caption__wrapper {
			border: $border;
			@include wrapper();
			max-width: 800px;
			& .caption {
				box-shadow: 7px 8px 16.2px 3.8px rgba(0, 0, 0, 0.1);
				background-color: rgba(250, 250, 250, 0.3);
				display: block;
				max-width: 400px;
				height: 180px;
				border: $border;
				margin-top: 180px;
				padding: 14px;
				& p {
					color: $secondary-color;
					font-size: 18px;
					@include xs(font-size, 14px);
					text-align: left;
					font-family: $accent-font;
				}
				   
				& h1 {
					display: block;
					font-family: $primary-font;
					border: $border;
					font-size: 72px;
					color: $white-color;
					font-weight: 700;
					line-height: 75px;
					letter-spacing: 3px;
					& span {
						border: $border;
						line-height: 15px;
						display: block;
						font-size: 24px;
						
						font-family: $accent-font;
						font-weight: 300;
					}
	    	}
			}
		}
	}
}
////// NEWS ///////////// NEWS ///////////// NEWS ///////
////// NEWS ///////////// NEWS ///////////// NEWS ///////
////// NEWS ///////////// NEWS ///////////// NEWS ///////
.news {
	@include row-flex;
	border: $border;
	padding: 20px 20px 80px 20px;
	background: rgba(0,0,0,0.2);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.5)), color-stop(99%, rgba(0,0,0,0.01)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
	

	& .news-item {

		@include md(column-count, 1);
		border: $border;
		margin: 0 auto;
	  column-count: 2;
	  column-gap: 50px;
	  
		text-align: justify;
		@include wrapper();
		max-width: 1168px;
		& p {
			font-family: $primary-font;
			font-size: 16px;
			color: $black-color;
			font-weight: 300;
			line-height: 20px;
			border: $border;
		}
		& h2 {
			font-family: $primary-font;
			font-size: 30px;
			color: $black-color;
			text-transform: uppercase;
			border: $border;
		}
		& h3 {
			font-family: $primary-font;
			font-size: 24px;
			font-weight: 500;
		}
		&	.news-date {
			border: $border;
			display: inline-block;
			font-family: $primary-font;
			font-size: 16px;
			color: $black-color;
		}
		& .outline {
			display: inline-block;
			border-bottom: 2px solid black;
			width: 100%;
		}
		& ul li {
			font-family: $primary-font;
			font-size: 16px;
			color: $black-color;
			font-weight: 300;
			line-height: 20px;
			border: $border;
		}
		& .date-container {
			display: flex;
		}
	}
}


////////// MAIN   /////////// MAIN   /////////// MAIN   //////////
////////// MAIN   /////////// MAIN   /////////// MAIN   //////////
////////// MAIN   /////////// MAIN   /////////// MAIN   //////////
.main { 
	
	@include row-flex;
	border: $border;
	& .main__container {
		border: $border;
		@include row-flex;
		@include wrapper();
		width: 1168px;
		& .subcontent {
		@include col();
		@include size(4);
		@include size-lg(4);
		@include size-md(12);
		@include size-xs(12);   
		border: $border;
		& .advertise {
			@include lg(display, none);
			@include md(display, none);
			@include xs(display, none);
			color: $white-color;
			padding: 20px;
			border: $border;
			background: $secondary-color;
			font-family: $primary-font;
			line-height: 22px;
			& ul li {
				font-family: $primary-font;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				border: $border;
				color: $white-color;
				padding-left: 20px;
				}
			& h3 {
				font-family: $primary-font;
				font-size: 22px;
				font-weight: 400;
				line-height: 30px;
				text-transform: uppercase;
				border: $border;
				color: $white-color;
			}
			& h4 {
				font-family: $primary-font;
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				border: $border;
				color: $white-color;
				margin-bottom: 20px;
			}
			& p {
				font-family: $primary-font;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				border: $border;
				color: $white-color;
				
			}
		}
	}
	}
	
}
//// CATALOG MENU ///////// CATALOG MENU ///////// CATALOG MENU /////
//// CATALOG MENU ///////// CATALOG MENU ///////// CATALOG MENU /////
//// CATALOG MENU ///////// CATALOG MENU ///////// CATALOG MENU /////

.catalog-block .catalog-menu { 

	background: grey;
	margin-bottom: 20px;
	border: $border;
		
		& .heading__container {
			display: block;
			padding: 8px 8px;
			border: $border;
		}
	& li {
		border: $border;
		list-style-type: none;
		padding: 0; 
		& .heading {
			border: $border;
			padding: 8px 5px;
			font-family: $primary-font;
			font-size: 22px;
			color: $white-color;
			text-transform: uppercase;
		}
		& .list-icon { 
			border: $border;
			margin: 0 auto;
			display: inline-block;
			width: 20px; height: 20px;
		}
		& .bg-list {
			border: $border;
	    width: 20px; height: 20px;
	    background: url('../img/css_sprites.png') -10px -10px;
		}
		& .catalog__nav {
			outline: none;
			border: $border;
			$white-color-space: nowrap;
			display: block;
			@include md(display, inline-block);
			width: 100%;
			text-align: left;
			font-family: $primary-font;
			font-size: 20px;
			color: $black-color;
			text-decoration: none;
			background-color: $grey-color;
			padding: 8px 0 8px 40px;
			@include lg(padding, 8px 0 8px 5px);

			&:hover {
				background-color: lighten($grey-color,20%);
			}
			
			& .bg-list {
		    width: 20px; height: 20px;
		    background: url('../img/css_sprites.png') -10px -10px;
			}
		}
	}
}

////////// CONTENT ////////// CONTENT ///////// CONTENT  /////////
////////// CONTENT ////////// CONTENT ///////// CONTENT  /////////
////////// CONTENT ////////// CONTENT ///////// CONTENT  /////////
.content {
	@include col();
	@include size(8);
	@include size-lg(8);
	@include size-md(12);
	@include size-xs(12); 

	border: $border;
	margin: 0 auto 5px auto;
	background: $white-color;
	color: red;
	padding: 0;
	& h2 { 
		display: block;
		padding: 5px 30px;
		background: $grey-color;
		color: grey;
		margin: 0 0 10px 0;
		border: $border;
	}
	.products {
		background: $white-color;
		border: $border;
		& .product {
			background-color: rgba(0, 0, 0, .3);
			-webkit-box-shadow: 3px -3px 20px 0px rgba(0,0,0,0.35);
			-moz-box-shadow: 3px -3px 20px 0px rgba(0,0,0,0.35);
			box-shadow: 3px -3px 20px 0px rgba(0,0,0,0.35);
			margin: 20px 0;
			border: $border;
			font-family: $primary-font;
			color: $white-color;
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0;
			&:first-child {
				margin-top: 0;
			}
			& .product__id {	
				border: $border;
				text-align: center;
				margin: 0 auto auto auto;

			}
			& .product__is {
				border: $border;
				width: 100%;
				padding: 20px 20px;

				& .product__name {
					padding-bottom: 5px;
					margin-bottom: 5px;
					border: $border;
					border-bottom: 2px solid white;
					font-family: $primary-font;
					font-size: 18px;
					font-weight: 500;
					color: $white-color;
				}
				& .product__desc {
					font-family: $primary-font;
					font-size: 16px;
					font-weight: 400;
					line-height: 18px;
					color: $white-color;
					padding-top: 5px;
				
			}
			}
			
			& .product__image {
				padding: 15px;
				border: $border;
				box-shadow: 0px 0px 100px -16px rgba(255,255,255,1);
				& .product__price {
					display: block;
					text-align: center;
					border: $border;
					font-family: $primary-font;
					font-weight: 500;
					color: $white-color;
					font-size: 16px;
					margin: 5px 0;
					padding: 3px 0;
					background-color: rgba(0,0,0, .3);
					
				}
				& .product__id {
					display: block;
					text-align: center;
					border: $border;
					font-family: $primary-font;
					font-weight: 500;
					color: $white-color;
					font-size: 16px;
					margin: 5px 0;
					padding: 3px 0;
					background-color: rgba(0,0,0, .3);
				}

			}

		}
	}
}
////////// SERVICES////////// SERVICES///////// SERVICES /////////	
////////// SERVICES////////// SERVICES///////// SERVICES /////////
////////// SERVICES////////// SERVICES///////// SERVICES /////////
.services { 
	border: $border;
	padding-top: 47px;
	padding-bottom: 24px;
	@include row-flex;
	
	& .services__container {
		border: $border;
		@include row-flex;
		@include wrapper();
		max-width: 1168px;
		& .services__desc {
			@include col();
			@include size(6);
			@include size-lg(12);
			@include size-md(12);
			@include size-xs(12);
			& h2 {
				border: $border;
				display: block;
				font-size: 30px;
				font-family: $primary-font;
				color: $black-color;
				text-transform: uppercase;
				font-weight: 700;		
				padding-bottom: 20px;
			}
			& p {
				border: $border;
				text-align: justify;
				font-family: $primary-font;
				font-size: 16px;
				color: $black-color;
				font-weight: 300;				
				padding-bottom: 20px;
				line-height: 20px;
				text-align: justify;
			}
		}
	}
}			


.services .services__container .services__img {
	@include col();
	@include size(6);
	@include size-lg(6);
	@include size-md(12);
	@include size-xs(12);	
	border: $border;
}	
.profchem {			
		border: $border;	

	}		
////////// AIDS /////////// AIDS /////////// AIDS //////////
////////// AIDS /////////// AIDS /////////// AIDS //////////
////////// AIDS /////////// AIDS /////////// AIDS //////////

.aids { 
	@include row-flex;	
	border: $border;
	
	& .aids__container { 		
		@include row-flex;
		@include wrapper();
		max-width: 1168px;
		box-shadow:  $black-color 5px 5px 5px 5px 0.3;
		column-gap: 20px;
		padding-bottom: 30px;
		border: $border;
	  
	  & .aids__desc {		
	  	background: #2775AC;	
	  	border: $border;
	  	@include col();
	  	@include size(6);
	  	@include size-lg(6);
	  	@include size-md(12);
	  	@include size-xs(12);		

	  	& h2 {
				border: $border;
				display: block;
				font-size: 30px;
				font-family: $primary-font;
				color: $white-color;
				text-transform: uppercase;
				font-weight: 700;
				padding: 20px;
			}
	  	& p {
				border: $border;
				text-align: justify;
				font-family: $primary-font;
				font-size: 16px;
				color: $white-color;
				font-weight: 300;
				padding: 20px;
				line-height: 20px;
				text-align: justify;
				
			}
			& ul li {
				border: $border;
				font-family: $primary-font;
				font-size: 16px;
				color: $white-color;
				font-weight: 300;
				padding-left: 20px;
				line-height: 20px;
				text-align: justify;
				&:before {
					content: "- ";
				}
			}
	  }
	  & .aids__img {		
	  	@include col();
	  	@include size(6);
	  	@include size-lg(6);
	  	@include size-md(12);
	  	@include size-xs(12);	
	  	border: $border;
	  }
	}
}
.buttons {

	float: right;
	margin: 20px 20px 20px auto;
	& a {
		display: inline-block;
		padding: 7px;
		font-family: $primary-font;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		color: $white-color;
		text-decoration: none;
		width: 120px;
		text-align: center;
	}
}
.buttons__download-price {
	background: $secondary-color;
}
.buttons__download-price:hover {
	cursor: pointer;
	background: lighten($secondary-color, 10%);
}
.buttons__catalog {
	background: $accent-color;
}
.buttons__catalog:hover {
	cursor: pointer;
	background: lighten($accent-color, 10%);
}
//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////
//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////
//////// CLEARFIX ///////// CLEARFIX ///////// CLEARFIX //////////

.clearfix {
	clear: both;
}

////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////
////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////
////////// REVIEWS ///////// REVIEWS ///////// REVIEWS //////////

.reviews {
	border: $border;
	@include row-flex;
	background: $white-color;
	margin-bottom: 20px;
	
	& .reviews__container {
		@include row-flex;
		@include wrapper();
		max-width: 1168px;
		background: $grey-color;
		border: $border;
		text-align: center;
		& .review {
			border: $border;
			display: row-flex;		
			padding: 20px 20px;
			
			& p {
				border: $border;				
			  @include size(8);
				@include size-lg(8);
				@include size-md(12);
				@include size-xs(12); 
				display: inline-block;
				background: $white-color;
				font-family: $accent-font;
				font-size: 18px;
				font-weight: 300;
				line-height: 24px;
				text-align: left;
				color: grey;
				padding: 5px 7px 20px 7px;
			}
			& figure {
				border: $border;
	 			@include size(3);
				@include size-lg(3);
				@include size-md(12);
				@include size-xs(12); 
				display: inline-block;
				background: $grey-color;			
				& img { 
					border: $border;
					display: inline-block;
					width: 50px;
					height: 50px;					
				}
				& figcaption {
					border: $border;
					display: inline-block;				
					margin-left: 10px;
					font-family: $primary-font;
					font-weight: 500;
					font-size: 18px;
					text-align: left;
					color: $black-color;
					& span {
						border: $border;

						font-size: 14px;
					}
				}
			}
		}
	}	
}

////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
////////// FOOTER /////////// FOOTER /////////// FOOTER //////////
.footer__navigation {
	@include row-flex;
	background: $secondary-color;
	border: $border;
	& .nav__container {
		@include row-flex;
		@include wrapper();
		
		border: $border;
		width: 100%;
		max-width: 1168px;
		& .container {
			border: $border;
			display: inline-block;
			margin: 0 auto;

			& .link {
				border: $border;
				display: inline-block;
				margin: 0 20px;
				@include md(margin, 0 5px);
				@include xs(margin, 0 2px);

				& a {
					display: inline-block;
					border: $border;
					line-height: 60px;			
					font-family: $primary-font;
					font-size: 20px;
					text-decoration: none;
					text-transform: uppercase;
					color: white;	
					@include md(font-size, 16px);
					@include xs(font-size, 14px);
					
					&:hover {
						color: $grey-color;
		  		}
			  }
			}
		}
		& .footer-nav {
			border: $border;
			margin: 0 auto;				
		}
	} 
}
footer {
	@include row-flex;
	border: $border;
	& .footer__container {
		@include row-flex;
		@include wrapper();
		border: $border;
		width: 100%;
		max-width: 1168px;
		padding: 40px 0 ;

		& .footer__col {
			@include col();
			@include size(3);
			@include size-lg(6);
			@include size-md(6);
			@include size-xs(6);
			border: $border;
			text-align: center;
			& h4 {
				font-family: $primary-font;
				font-size: 24px;
				@include md(font-size, 16px);
				color: $black-color;
				font-weight: 500;
				line-height: 40px;
				text-transform: uppercase;
				text-align: center;
			}
			& p,
			& span {
				font-family: $primary-font;
				font-size: 22px;
				@include md(font-size, 14px);
				color: $black-color;
				font-weight: 500;
				line-height: 24px;
			}
			& a {
				font-family: $primary-font;
				font-size: 22px;
				text-decoration: none;
				color: $black-color;
				&:hover {
					color: $secondary-color;
				}
			}
		}
		& .footer__logo {
			margin: 10px;
			padding: 10px;
		}
	}
}


	

 

	
